<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dinidiniz.eggsearcher" >
    <uses-permission android:name="android.permission.CAMERA" android:required="true"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".activity.TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TelaFotografia"
            android:label="Atividade Principal" >
        </activity>
        <activity
            android:name=".activity.TelaContagem"
            android:label="Tela Contagem" >
        </activity>
        <activity android:name=".activity.TelaFilePicker"/>
        <activity android:name=".activity.TelaResultado"  android:label="Tela Resultado" />
        <activity android:name=".activity.TelaHistoricoCal"  android:label="Tela Histórico Cal" />
        <activity android:name=".activity.CalibrateActivity"  android:label="Calibrate" />
        <activity android:name=".activity.TelaHistorico"  android:label="Tela Historico"/>
        <activity android:name=".activity.TelaConfiguracao"  android:label="Tela Configuracao" />
        <activity android:name=".activity.TelaFullAutomatic"  android:label="Tela Full Automatic"/>
    </application>

</manifest>
