<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dinidiniz.eggsearcher" >
    <uses-permission android:name="android.permission.CAMERA" android:required="true"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".telas.TelaInicial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".telas.TelaFotografia"
            android:label="Atividade Principal" >
        </activity>
        <activity
            android:name=".telas.TelaContagem"
            android:label="Tela Contagem" >
        </activity>
        <activity android:name=".telas.TelaFilePicker"/>
        <activity android:name=".telas.TelaResultado"  android:label="Tela Resultado"/>
        <activity android:name=".telas.TelaHistorico"  android:label="Tela Historico"/>
    </application>

</manifest>
